
.avatar {
    text-align: center;

}

.avatar-img {
    margin-bottom: 13px;
    width: 57.44px;
    height: 57.44px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-name {
    font-size: 11.94px;
}